*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-color:#24252af0; */
}


/* button css_______________________________________________________________________________ */

/* li,a,button
{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
} */


button {
    position: relative;
    padding: 10px 20px;
    /* border-radius: 7px; */
    /* border: 1px solid rgb(61, 106, 255); */
    /* font-size: 14px; */
    text-transform: uppercase;
    /* font-weight: 600; */
    letter-spacing: 0px;
    background: transparent;
    color: #edf0f1;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 14px;
    /* color: #edf0f1; */
    text-decoration: none;
  }
  
  button:hover {
    background: #0088a9;
    box-shadow: 0 0 30px 5px #005267;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

.logo
{
    cursor: pointer;
    width: 150px;
}

navbar
{
    position: sticky;
    top: 0rem;
    background-color:#24252af0;
    /* background-color: #24252A; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 7% ;   
}

.list
{
    list-style: none;
}

.list li
{
    display: inline-block;
    padding: 0px 13px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.list li a
{
    transition: all 0.3s ease 0s;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.list li a:hover
{
    color: #0088a9;
}

/* li css___________________________________________________________ */

/* .list li a:hover
{
    color: #0088a9;
    background: #0088a9;
    box-shadow: 0 0 3px 5px #005267;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
} */


/* .list li a:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  
  .list li a:hover:before {
    background-color: #fff;
    width: 2rem;
  } */

/* _____________________________________________________________________________________________________ */

button
{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover
{
    /* background-color: rgba(0,136,169,0.8); */
    background-color: rgba(6, 90, 110, 0.8);
}


/* moto */

.motocontainer
{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: auto;
    min-width: auto;
    padding: 96px 48px;
    background-color:#24252af0;
    padding-bottom: 100px;
    padding-top: 100px;
}

.innermotocontiner
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}


.innermotocontiner h1
{
    font-size: 48px;
    text-align: center;
    font-weight: Regular 400 ;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #edf0f1;
}

.innermotocontiner h3
{
    text-align: center;
    font-size: 22px;
    font-weight: 300; 
    color: #edf0f1;
}

.buttonmoto
{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

#learnmore
{
    background-color: #24252af0;
    border: 0;
    
}

/* features */

.features
{
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: whitesmoke; 
    color: #24252af0;
    width: 100%;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 25px;
    padding-bottom: 70px;
}

.smallfeaturecontainer
{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr)

    /* padding-bottom: 80px;
    border-width: 1px; */

}

.smallfeaturecontainer div
{
    width: 100%;
    background-color: rgba(0,136,169,0.8); 
     margin-left: 5%; 
    padding: 10px 10px ;
    padding-top: 20px;
    /* border:2px solid black; */
    border-radius: 10px;
    /* gap: var(--dl-space-space-unit); */
    color: whitesmoke;
  /* display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start; */
  font-weight: 200;
  line-height: 28px;
}

.feat
{
    padding: 15px 15px;
    padding-left: 60px;
    padding-top: 5px;
    padding-bottom: 18px;
    font-weight: 300;
}

.smallfeaturecontainer div h2
{
    padding-top: 18px;
    padding-bottom: 1px;
}

.smallfeaturecontainer div h3
{
    padding-top: 0px;
    padding-bottom: 18px;
    padding-left: 60px;
}

.smallfeaturecontainer div img
{
    position: absolute;
    margin-top: 13px;
    margin-left: 9px;
}


/* pricing */

.pricing
{
    width: 100%;
    height: auto;
    padding-top: 25px;
    font-family: 'Bricolage Grotesque', sans-serif;
    background-color: #212123f0; 
    color: whitesmoke;
    padding-bottom: 52px;
}

.pricingconatiner
{
    width: 90%;
    height: auto;
    margin: 55px 64px 23px 80px;    
    display: flex;
    gap: 32px;
    justify-content: flex-start;
}

.pricebar
{
    width: 100%;
    height: 654px;
    /* max-width: 450px; */
    /* background-color: #212123f0;  */
    background-color: rgba(0,136,169,0.8); 
    border-radius: 10px;
    padding: 32px;
}


.pricebartop
{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.pricebarmiddle
{
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.pricebarbelow
{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 140px;
}

.pcbutton
{
    width: 100%;
    padding: 8px 24px;
    margin-bottom: 60px;
}

.pcbutton:hover
{
    background-color: rgba(6, 90, 110, 0.8);
    transition: all 0.5s ease 0s;
}